<!DOCTYPE html>
<html>
<head>
    <title>Uploaded PDFs</title>
</head>
<body>
    <h1>Uploaded PDF Files</h1>
    <ul>
        {% for document in documents %}
            <li>
                <a href="{{ document.doc_path }}" target="_blank">{{ document.id }}, {{ document.doc_name }}</a>
            </li>
        {% endfor %}
    </ul>

    <h1>Upload a new PDF File</h1>
    <form method="POST" enctype="multipart/form-data">
        {{ form.csrf_token }}
        
        <!-- when open file explorer it will show only .pdf file -->
        {{ form.file.label }} {{ form.file(accept="application/pdf") }} 
        {{ form.submit() }}
    </form>
</body>
</html>
